<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant catalogue for you">
    <meta name="theme-color" content="#DB0000" />
    
    <link rel="apple-touch-icon" href="../public/icons/icon-144x144.png">
    <link rel="manifest" href="../public/app.webmanifest">
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Restaurant Apps</title>
</head>
<skip-to-main></skip-to-main>
<body>
    <header>
      <app-bar></app-bar>
    </header>
      <hero-element></hero-element>
    <main id="main-content" tabindex="0">
      <restaurant-list></restaurant-list>
    </main>
    <footer>
      <footer-bar></footer-bar>
    </footer>
</body>
<!-- <script type="module" src="./src/script/index.js"></> -->
</html>
