/* Untuk layar berukuran kecil (misalnya ponsel) */
@media only screen and (max-width: 600px) {
  #hamburger {
    display: block;
  }
  nav ul {
    top: 70px;
    width: 100%;
    height: 30%;
    position: fixed;
    background: #201f1f;
    left: -100%;
    
  }

  nav ul.open {
    display: block;
    left: 0;
  }

  nav ul li {
    display: block;
    line-height: 30px;
    text-align: center;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid rgb(231, 185, 84);
  }

  nav ul li a {
    font-size: 20px;
    color: rgb(231, 185, 84);
    margin-left: 5px;
    display: none;
  }

  nav ul.open li a {
    display: block;
  }

  .lists{
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    grid-row-gap: 5vh;
    margin: 20px 20px;

  }
  .hero-title {
  font-size: 25px;
  letter-spacing: normal;
  }

  .hero-desc {
  font-size: 20px;
  line-height: normal;
  }
  .hero-restaurant{
    background-image:linear-gradient(rgba(78, 57, 57, 0.7),rgba(4,9,30,0.7)), url("../public/images/heros/hero-image_4-small.jpg");
  }
  .hero-restaurant button{
    width: 140px;
    font-size: 1rem;
    font-weight: 300;
    padding: 15px 10px;
  }
  nav li:hover{
    transform: scale(1.1);
  }
  nav li a:hover {
    color: #eeeeee;
  }
  .detail-container {
      padding: 120px 40px;
  }
  .restaurant-detail .restaurant-name-detail {
    font-size: 1.3rem;
  }
  .restaurant-detail p {
    font-size: 16px;
  }
  .restaurant-detail p span,
  .restaurant-detail span {
    font-size: 12px;
  }
  .restaurant-desc p {
    font-size: 0.9rem;
    text-align: justify;
  }
  .explore-restaurant{
    display: flex;
    flex-direction: column;
  }
  .filter-wrapper{
    margin: auto;
  }
  .content__label{
    margin: 5px 7px;

  }
}
  /* Untuk layar berukuran sedang (misalnya tablet) */
  @media only screen and (min-width: 601px) and (max-width: 759px) {
    #hamburger {
      display: block;
    }
    nav ul {
      top: 70px;
      width: 100%;
      height: 29%;
      position: fixed;
      background: #201f1f;
      left: -100%;
      
    }
  
    nav ul.open {
      display: block;
      left: 0;
    }
  
    nav ul li {
      display: block;
      line-height: 30px;
      text-align: center;
      padding: 10px 0 10px 20px;
      border-bottom: 1px solid rgb(231, 185, 84);
    }
  
    nav ul li a {
      font-size: 20px;
      color: rgb(231, 185, 84);
      margin-left: 5px;
      display: none;
    }
  
    nav ul.open li a {
      display: block;
    }
    .hero-desc {
    line-height: normal;
    }
    nav li:hover{
      transform: scale(1.1);
    }
    nav li a:hover {
      color: #eeeeee;
    }
    .content-label {
      font-size: 2rem;
    }
    .lists {
      margin: 30px 10px;
    }
    .detail-container {
      padding: 120px 40px;
    }
    .detail {
      margin-bottom: 20px;
    }
    .restaurant-detail-image {
      height: 200px;
  }
    .restaurant-detail .restaurant-name-detail {
      font-size: 2rem;
    }
    .restaurant-detail p {
      font-size: 18px;
    }
    .restaurant-detail p span,
    .restaurant-detail span {
      font-size: 14px;
    }
    .restaurant-desc p {
      font-size: 1rem;
    }
    .review-card {
      grid-template-columns: 1fr;
    }
    .add-review input,
    .add-review textarea {
      width: 100%;
    }
    .add-review .submit {
      width: 100%;
      justify-content: center;
    }
  }
  
  /* Untuk layar berukuran besar (misalnya desktop) */
  @media only screen and (max-width: 1024px) {
    .hamburger {
      display: none; /* Menyembunyikan hamburger menu pada layar besar */
    }
    .app-bar {
      width: 95%;
    }
    .hero-title {
      font-size: 2.5rem;
    }
    .hero-desc {
      font-size: 20px;
    }
    .hero-restaurant{
      background-image:linear-gradient(rgba(78, 57, 57, 0.7),rgba(4,9,30,0.7)), url("../public/images/heros/hero-image_4-large.jpg");
    }
    .content-restaurants {
      width: 95%;
      margin: 40px auto;
    }
    .content-label {
      font-size: 2.5rem;
    }
    .lists {
      margin: 30px 20px;
    }
    .detail-container {
      padding: 120px 40px;
    }
    .restaurant-item-description {
      font-size: 1rem;
    }
    .restaurant-detail .restaurant-name-detail {
      font-size: 2.5rem;
    }
    .restaurant-detail p {
      font-size: 20px;
    }
    .restaurant-detail p span,
    .restaurant-detail span {
      font-size: 16px;
    }
    .restaurant-desc p {
      font-size: 1.2rem;
    }
    .review-card {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    .item-review {
      padding: 15px;
    }
    .description-review {
      font-size: 12px;
    }
    .add-review input,
    .add-review textarea {
      width: 80%;
    }
    .add-review input {
      max-width: 80%;
    }
    .add-review .submit {
      width: 80%;
    }
  }
  